body		{ animation: colorchange 100s; -webkit-animation: pulse 100s infinite; }

@keyframes pulse {
	0%		{ background: $color-1; }
	25%		{ background: $color-4; }
	35%		{ background: $color-7; }
	75%		{ background: $color-11; }
	100%	{ background: $color-1; }
}

@-webkit-keyframes pulse
{
	0%		{ background: $color-1; }
	25%		{ background: $color-4; }
	35%		{ background: $color-7; }
	75%		{ background: $color-11; }
	100%	{ background: $color-1; }
}