/* Color style */
#project1 h1,
#project1 h2,
#project1 h3				{ background-color: rgba($color-1, .2);  color: $color-1; }
#project2 h1,
#project2 h2,
#project2 h3				{ background-color: rgba($color-2, .2);  color: $color-2; }
#project3 h1,
#project3 h2,
#project3 h3				{ background-color: rgba($color-3, .2);  color: $color-3; }
#project4 h1,
#project4 h2,
#project4 h3				{ background-color: rgba($color-4, .2);  color: $color-4; }
#project5 h1,
#project5 h2,
#project5 h3				{ background-color: rgba($color-5, .2);  color: $color-5; }
#project6 h1,
#project6 h2,
#project6 h3				{ background-color: rgba($color-6, .2);  color: $color-6; }
#project7 h1,
#project7 h2,
#project7 h3				{ background-color: rgba($color-7, .2);  color: $color-7; }
#project8 h1,
#project8 h2,
#project8 h3				{ background-color: rgba($color-8, .2);  color: $color-8; }
#project9 h1,
#project9 h2,
#project9 h3				{ background-color: rgba($color-9, .2);  color: $color-9; }
#project10 h1,
#project10 h2,
#project10 h3				{ background-color: rgba($color-10, .2); color: $color-10; }
#project11 h1,
#project11 h2,
#project11 h3				{ background-color: rgba($color-11, .2); color: $color-11; }
#project12 h1,
#project12 h2,
#project12 h3				{ background-color: rgba($color-12, .2); color: $color-12; }
#project13 h1,
#project13 h2,
#project13 h3				{ background-color: rgba($color-1, .2);  color: $color-1; }
#project14 h1,
#project14 h2,
#project14 h3				{ background-color: rgba($color-2, .2);  color: $color-2; }
#project15 h1,
#project15 h2,
#project15 h3				{ background-color: rgba($color-3, .2);  color: $color-3; }
#project16 h1,
#project16 h2,
#project16 h3				{ background-color: rgba($color-4, .2);  color: $color-4; }
#project17 h1,
#project17 h2,
#project17 h3				{ background-color: rgba($color-5, .2);  color: $color-5; }
#project18 h1,
#project18 h2,
#project18 h3				{ background-color: rgba($color-6, .2);  color: $color-6; }
#project19 h1,
#project19 h2,
#project19 h3				{ background-color: rgba($color-7, .2);  color: $color-7; }
#project20 h1,
#project20 h2,
#project20 h3				{ background-color: rgba($color-8, .2);  color: $color-8; }
#project21 h1,
#project21 h2,
#project21 h3				{ background-color: rgba($color-9, .2);  color: $color-9; }
#project22 h1,
#project22 h2,
#project22 h3				{ background-color: rgba($color-10, .2); color: $color-10; }
#project23 h1,
#project23 h2,
#project23 h3				{ background-color: rgba($color-11, .2); color: $color-11; }
#project24 h1,
#project24 h2,
#project24 h3				{ background-color: rgba($color-12, .2); color: $color-12; }
