/* Color style */
#bloc1 h1				{ background-color: rgba($color-1, .2);  color: $color-1; }
#bloc2 h1				{ background-color: rgba($color-2, .2);  color: $color-2; }
#bloc3 h1				{ background-color: rgba($color-3, .2);  color: $color-3; }
#bloc4 h1				{ background-color: rgba($color-4, .2);  color: $color-4; }
#bloc5 h1				{ background-color: rgba($color-5, .2);  color: $color-5; }
#bloc6 h1				{ background-color: rgba($color-6, .2);  color: $color-6; }
#bloc7 h1				{ background-color: rgba($color-7, .2);  color: $color-7; }
#bloc8 h1				{ background-color: rgba($color-8, .2);  color: $color-8; }
#bloc9 h1				{ background-color: rgba($color-9, .2);  color: $color-9; }
#bloc10 h1				{ background-color: rgba($color-10, .2); color: $color-10; }
#bloc11 h1				{ background-color: rgba($color-11, .2); color: $color-11; }
#bloc12 h1				{ background-color: rgba($color-12, .2); color: $color-12; }
#bloc13 h1				{ background-color: rgba($color-1, .2);  color: $color-1; }
#bloc14 h1				{ background-color: rgba($color-2, .2);  color: $color-2; }
#bloc15 h1				{ background-color: rgba($color-3, .2);  color: $color-3; }
#bloc16 h1				{ background-color: rgba($color-4, .2);  color: $color-4; }
#bloc17 h1				{ background-color: rgba($color-5, .2);  color: $color-5; }
#bloc18 h1				{ background-color: rgba($color-6, .2);  color: $color-6; }
#bloc19 h1				{ background-color: rgba($color-7, .2);  color: $color-7; }
#bloc20 h1				{ background-color: rgba($color-8, .2);  color: $color-8; }
#bloc21 h1				{ background-color: rgba($color-9, .2);  color: $color-9; }
#bloc22 h1				{ background-color: rgba($color-10, .2); color: $color-10; }
#bloc23 h1				{ background-color: rgba($color-11, .2); color: $color-11; }
#bloc24 h1				{ background-color: rgba($color-12, .2); color: $color-12; }
