// Grid format
.grid							{ width: 100%; box-sizing: border-box; }
.row							{ width: 100%; box-sizing: border-box; display: -webkit-flex; display: -ms-flexbox; display: -moz-box; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-flex-wrap: wrap; flex-flow: row wrap; /*justify-content: center; -webkit-justify-content: center;*/}
.tasklist>ul,
.column							{ width: 100%; flex: auto; display: inline-block; box-sizing: border-box;  }

.tasklist blockquote			{ display: none; }

@media (min-width: 50rem) {
	.tasklist > ul,
	.column						{ width: 50%; }
}

@media (min-width: 80rem) {
	.tasklist > ul,
	.column						{ width: 24rem; }
}